/* header */
.header { 
    height: 70px; 
    background: var(--primary-color);
     position: fixed; 
     top: 0; 
     width: 100%; 
     z-index: 1000; 
    }

.header-container { 
    max-width: 1200px; 
    height: 70px; 
    margin: 0 auto; 
    padding: 0 20px; 
    padding-top: 15px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.header-left, .header-right { 
    flex: 1; 
    display: flex; 
    align-items: center; 
    gap: 100%; 
}

.header-right { justify-content: flex-end; }

.logo { 
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.logo a { 
    color: var(--text-light) !important;
     font-size: 1.4rem; 
     font-weight: 800; 
     line-height: 80px;
     cursor: pointer; 
    }

.header-menu { display: flex; list-style: none; gap: 20px; }

.header-menu a { 
    color: var(--text-light) !important; 
    font-weight: 600; 
    cursor: pointer;
}

.header-toggle { 
    display: none; 
    background: none; 
    border: none; 
    color: var(--text-light); 
    font-size: 1.5rem; 
    cursor: pointer; 
}

/* header dropdown */
.header-menu-dropdown { 
    position: absolute; 
    top: 70px; 
    left: 20px; 
    background: #fff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: var(--shadow); 
    z-index: 999; 
}

.header-menu-dropdown ul { list-style: none; }
.header-menu-dropdown li { margin-bottom: 15px; }
.header-menu-dropdown a { 
    color: var(--text-dark) !important; 
    font-weight: 600; 
    cursor: pointer; 
}

@media (max-width: 768px) {
    .header-menu { display: none; }
    .header-toggle { display: block; }
}