/* header*/
.header {
    height: 70px;
    background: var(--primary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    max-width: 1200px;
    height: 70px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 1;
}

.header-toggle {
    background: none;
    border: none;
    color: var(--text-light);
    font-size: 1.5rem;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 1;
}

header.header .header-container a {
    color: var(--text-light);
    text-decoration: none;
    cursor: pointer;
}

.header-right a:hover, 
.header-left button:hover, 
.search-icon-btn:hover {
    color: var(--text-light) !important;
    background: none;
}

/* logo */
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    z-index: 0;
}

.logo:hover{
    color: var(--text-light);
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -33.33%;
    width: 33.33%;
    height: 100%;
    background: #ffffff;
    transition: 0.3s ease;
    z-index: 9999;
    padding: 40px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

.sidebar.active { left: 0; }
.sidebar ul { list-style: none; padding: 0; margin-top: 50px; }
.sidebar ul li { margin-bottom: 30px; font-size: 1.3rem; font-weight: 500; }
.sidebar ul li a { cursor: pointer; color: #333; text-decoration: none; }

/* overlay*/
.overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9998;
}

/* close button */
.closeBtn {
    display: block;
    margin-left: auto;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* search */
.search-icon-btn {
    background: none;
    border: none;
    color: var(--text-light);
    cursor: pointer;
    font-size: 1.2rem;
}

.search-overlay {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background: rgba(145, 144, 144, 0.85); 
    z-index: 10000; 
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    padding-top: 100px; 
    pointer-events: auto;
}

.search-box {
    width: 80%; 
    max-width: 600px;
    display: flex; 
    gap: 10px;
    background: #ffffff; 
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2); 
}

.search-box input {
    flex: 1;
    padding: 12px;
    border: 1px solid #e0e0e0; 
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
}

.search-box input:focus {
    border-color: var(--primary-color); 
}

.search-box button {
    padding: 10px 20px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}