.support-container {
  max-width: 700px;
  margin: 60px auto;
  padding: 0 20px;
}

.header-text {
  display: flex;
  align-items: center;
  gap: 20px; 
  margin-left: 30px; 
  font-size: large;
}

/* accondion */
.accordion-header {
  width: 100%;
  padding: 25px 20px; 
  background: white;
  border: none;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s;
}

.accordion-header:hover { background: #fafafa; }

/* card */
.center-card {
  margin: 15px 0;
  padding: 25px;
  border-radius: 16px; 
  background: #ffffff;
  border: 1px solid #f0f0f0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05); 
}

.center-card h3 { margin: 0 0 10px 0; font-size: 1.1rem; }
.phone { font-weight: 700; color: #29b6c0; margin: 8px 0; }
.desc { color: #666; font-size: 0.9rem; margin-bottom: 15px; }

 /* more */
.more-section {
  margin-top: 60px;
  padding: 40px;
  background: #f0f7f8; 
  border-radius: 20px;
  text-align: center;
}

.more-action-btn{
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  color: #ffffff; 
  font-weight: 600;
  border-radius: 20px; 
  transition: all 0.3s ease;
  font-size: 1rem;
  background-color: #3829c0;
  text-decoration: none;
}

 /* support */
.support-container {
  max-width: 700px;
  margin: 60px auto;
  padding: 0 20px;
}

.support-container h1{
  text-align: center;
  padding-bottom: 20px;
}

/* web btn */
.web-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #f8f9fa;
  color: #29b6c0; 
  font-weight: 600;
  border-radius: 8px; 
  border: 1px solid #29b6c0; 
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

.web-btn:hover {
  background-color: #29b6c0; 
  color: white;
}

.phone {
  display: flex;       
  align-items: center; 
  gap: 10px;           
  font-weight: 700;
  color: #29b6c0;
  margin: 8px 0;
}



