:root {
  --primary-color: #6da0da;
  --secondary-color: #4a90e2;
  --bg-color: #f4f7fa;
  --text-dark: #333;
  --text-light: #fff;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  --main-blue-color: #6da0da; 
  --dark-overlay: rgba(0, 0, 0, 0.4);

  --bs-body-font-family: 'ZenSerif', sans-serif;
  --bs-font-sans-serif: 'ZenSerif', sans-serif;
}

@font-face {
  font-family: 'ZenSerif';
  src: url('/ZEN-SERIF-TTF-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-dark);
  font-family: var(--bs-body-font-family);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-layout {
    padding-top: 70px; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, button, input, textarea, select {
  font-family: 'ZenSerif', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
